{% extends "base.html" %}
{% block content %}
   <div class="about">
     <img class="about-image" src="https://media.istockphoto.com/id/1432637898/photo/button-with-the-python-on-the-yellow-keyboard-of-modern-laptop.jpg?b=1&s=170667a&w=0&k=20&c=loymOqOdDX6uHWzUDyKdupCOV9XZaj5RyuKyMd_AOks="/>
     <h1 class="about-title">About </h1>
     </div>
     <div class="newspaper">
      <h2 class="newspaper-title">Flask: Building a Flask Blog</h2>
      <p class="newspaper-author">By Zaklina</p>
      <p class="newspaper-date">20.04.2023</p>
      <hr>
      <p class="newspaper-paragraph">Flask is a popular Python web framework that allows developers to easily build web applications. With its simplicity and flexibility, Flask is an excellent choice for building a blog.</p>
      <p class="newspaper-paragraph">Building a Flask blog involves several key steps, such as creating a database, designing the layout, and implementing user authentication. By following these steps, you can create a fully functional blog that is both easy to use and visually appealing.</p>
      <p class="newspaper-paragraph">One of the main advantages of using Flask is its modular design, which allows developers to add new features and functionalities as needed. This makes it easy to customize your blog to suit your specific needs.</p>
      <p class="newspaper-paragraph">Overall, building a Flask blog is a great way to showcase your writing skills and share your thoughts and ideas with others. With its simplicity and flexibility, Flask is the perfect framework for creating a blog that is both functional and aesthetically pleasing.</p>
    </div>
   
 {% endblock %}