{% extends "base.html" %}
{% block content %}
   <div class="about">
     <img class="about-image" src="https://images.unsplash.com/photo-1538439907460-1596cafd4eff?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fGdyZWVuJTIwc25ha2UlMjBweXRob258ZW58MHx8MHx8&auto=format&fit=crop&w=400&q=60"/>
     <h1 class="about-title">About </h1>
     </div>
     <div class="about_content">
      <p>Hi, my name is [your name] and I'm a [your profession or hobby]. This website is my personal blog where I share my thoughts and experiences about [topics related to your blog].</p>
      <p>I started this blog as a way to document my journey of learning how to build web applications using Python and Flask. Through this blog, I hope to share my knowledge and help others who are also interested in this field.</p>
      <p>On this blog, you'll find articles about [topics related to your blog], as well as some tutorials and code snippets. If you have any questions or suggestions, feel free to reach out to me via [your contact information].</p>
   </div>
   
 {% endblock %}