<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %} - My Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  
<body>
<nav>
  <ul>
    <li><a href="{{ url_for('home') }}">Home</a></li>
    <li><a href="{{ url_for('about') }}">About</a></li>
    <li><a href="{{ url_for('contact') }}">Contact</a></li>
    <li><a href="{{ url_for('new_post') }}">New Post</a></li>
    <li class="avatar"></li>
  </ul> 
  <div class="search">
    <input type="text" name="q" placeholder="Search...">
    <button type="submit"><i class="fa fa-search"></i></button>
  </div>
</nav>

    {% block content %}
    {% endblock %}
</body>
</html>
